@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="slider-container light rev_slider_wrapper" style="height: 650px;" id="sec_0">
    <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 650, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': true, 'style': 'arrows-style-1 arrows-big arrows-dark' }, 'bullets': {'enable': false, 'style': 'bullets-style-1 bullets-color-primary', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
        <ul>
            @if (Model.BannerList.Count() > 0)
            {
                for (int i = 0; i < Model.BannerList.Count(); i++)
                {
                    if (i % 2 == 1)
                    {
                        <li data-transition="fade">
                            <img src="@Model.BannerList[i].Image"
                                 alt=""
                                 data-bgposition="center center"
                                 data-bgfit="cover"
                                 data-bgrepeat="no-repeat"
                                 class="rev-slidebg">

                            <div class="tp-caption text-color-dark font-weight-normal"
                                 data-x="['left','left','center','center']" data-hoffset="['152','152','0','0']"
                                 data-y="center" data-voffset="['-60','-50','-50','-75']"
                                 data-start="700"
                                 data-fontsize="['25','25','22','40']"
                                 data-lineheight="['25','25','25','45']"
                                 data-transform_in="y:[-50%];opacity:0;s:500;">
                                @Html.Raw(Model.BannerList[i].SolganOne)
                            </div>

                            <h1 class="tp-caption font-weight-extra-bold text-color-dark negative-ls-2"
                                data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                data-x="['left','left','center','center']" data-hoffset="['152','152','0','0']"
                                data-y="center"
                                data-fontsize="['50','50','50','90']"
                                data-lineheight="['55','55','55','95']"
                                data-letterspacing="-1">
                                @Html.Raw(Model.BannerList[i].SolganTwo)
                            </h1>

                            <div class="tp-caption font-weight-light text-color-dark"
                                 data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-x="['left','left','center','center']" data-hoffset="['152','152','0','0']"
                                 data-y="center" data-voffset="['60','40','40','80']"
                                 data-fontsize="['25','25','18','50']"
                                 data-lineheight="['20','20','20','55']">
                                @Html.Raw(Model.BannerList[i].SolganThree)
                            </div>
                        </li>
                    }
                    else if (i % 2 == 0)
                    {
                        <li data-transition="fade">
                            <img src="@Model.BannerList[i].Image"
                                 alt=""
                                 data-bgposition="right center"
                                 data-bgpositionend="center center"
                                 data-bgfit="cover"
                                 data-bgrepeat="no-repeat"
                                 data-kenburns="on"
                                 data-duration="9000"
                                 data-ease="Linear.easeNone"
                                 data-scalestart="110"
                                 data-scaleend="100"
                                 data-rotatestart="0"
                                 data-rotateend="0"
                                 data-offsetstart="0 0"
                                 data-offsetend="0 0"
                                 data-bgparallax="0"
                                 class="rev-slidebg">

                            <div class="tp-caption font-weight-extra-bold text-color-dark negative-ls-2"
                                 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                 data-x="center"
                                 data-y="center" data-voffset="['-55','-50','-50','-75']"
                                 data-fontsize="['50','50','50','90']"
                                 data-lineheight="['55','55','55','95']">
                                @Html.Raw(Model.BannerList[i].SolganOne)
                            </div>

                            <div class="tp-caption font-weight-bold text-color-dark"
                                 data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-x="center"
                                 data-y="center"
                                 data-fontsize="['30','30','30','30']"
                                 data-lineheight="['20','20','20','55']"
                                 style="color: #b5b5b5;">
                                @Html.Raw(Model.BannerList[i].SolganTwo)
                            </div>

                            <a class="tp-caption btn btn-primary font-weight-bold"
                               href="#"
                               data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"y:50%;opacity:0;","to":"y:0;o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                               data-x="center" data-hoffset="0"
                               data-y="center" data-voffset="75"
                               data-paddingtop="['15','15','15','30']"
                               data-paddingbottom="['15','15','15','30']"
                               data-paddingleft="['40','40','40','57']"
                               data-paddingright="['50','50','50','57']"
                               data-fontsize="['13','13','13','25']"
                               data-lineheight="['20','20','20','25']">
                                @Html.Raw(Model.BannerList[i].SolganThree) <i class="fas fa-arrow-right ml-1" style="position: absolute; right: 19px; top: 21px;"></i>
                            </a>

                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>


<section class="section bg-color-light border-0 m-0" id="sec_1">
</section>

<div class="container-fluid" id="sec_2">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<section class="section section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
    <div class="container" id="sec_3">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</section>

<div class="container pt-5" id="sec_4">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<section class="section section-height-2 bg-color-grey m-0 border-0" id="sec_5" style="padding-bottom: 120px;">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</section>

<section class="bg-color-light border-0 pt-5 mt-0" id="sec_6">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</section>

<div id="sec_7">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>


@section Scripts{
    <script>
        (function () {
            let section = {
                _0: { position: $("#sec_0").position().top, visited: false },
                _1: { position: $("#sec_1").position().top, visited: false },
                _2: { position: $("#sec_2").position().top, visited: false },
                _3: { position: $("#sec_3").position().top, visited: false },
                _4: { position: $("#sec_4").position().top, visited: false },
                _5: { position: $("#sec_5").position().top, visited: false },
                _6: { position: $("#sec_6").position().top, visited: false },
                _7: { position: $("#sec_7").position().top, visited: false }
            };


            $(window).scroll(function () {

                let windowBottomPosition = $(window).scrollTop() + $(window).height();

                if ((windowBottomPosition + 700) > section._1.position) {

                    if (section._1.visited === false) {

                        $.ajax({
                            url: `/ClientView/Section_1`,
                            type: "GET",
                            success: function (response) {

                                $(`#sec_1`).html(response);

                                section._1.visited = true;
                            },
                            error: function (response) {

                                $.ajax({
                                    url: `/ClientView/Section_1`,
                                    type: "GET",
                                    success: function (response) {
                                        console.log(response);
                                        $(`#sec_1`).html(response);

                                        section._1.visited = true;
                                    },
                                    error: function (response) {

                                        $.ajax({
                                            url: "/Home/AjaxErrorView",
                                            type: "GET",
                                            success: function (response) {
                                                $(`#sec_1`).html(response);

                                                section._1.visited = true;
                                            }
                                        });

                                    }
                                });

                            }
                        });
                    }
                }

                if ((windowBottomPosition + 700) > section._2.position) {

                    if (section._2.visited === false) {

                        $.ajax({
                            url: `/ClientView/Section_2`,
                            type: "GET",
                            success: function (response) {
                                $(`#sec_2`).html(response);

                                section._2.visited = true;
                            },
                            error: function (response) {

                                $.ajax({
                                    url: `/ClientView/Section_2`,
                                    type: "GET",
                                    success: function (response) {

                                        section._2.visited = true;
                                    },
                                    error: function (response) {

                                        $.ajax({
                                            url: "/Home/AjaxErrorView",
                                            type: "GET",
                                            success: function (response) {
                                                $(`#sec_2`).html(response);

                                                section._2.visited = true;
                                            }
                                        });

                                    }
                                });

                            }
                        });
                    }
                }

                if ((windowBottomPosition + 700) > section._3.position) {

                    if (section._3.visited === false) {

                        $.ajax({
                            url: `/ClientView/Section_3`,
                            type: "GET",
                            success: function (response) {

                                $(`#sec_3`).html(response);

                                section._3.visited = true;
                            },
                            error: function (response) {

                                $.ajax({
                                    url: `/ClientView/Section_3`,
                                    type: "GET",
                                    success: function (response) {
                                        $(`#sec_3`).html(response);

                                        section._3.visited = true;
                                    },
                                    error: function (response) {

                                        $.ajax({
                                            url: "/Home/AjaxErrorView",
                                            type: "GET",
                                            success: function (response) {
                                                $(`#sec_3`).html(response);

                                                section._3.visited = true;
                                            }
                                        });

                                    }
                                });

                            }
                        });
                    }
                }

                if ((windowBottomPosition + 700) > section._4.position) {

                    if (section._4.visited === false) {

                        $.ajax({
                            url: `/ClientView/Section_4`,
                            type: "GET",
                            success: function (response) {

                                $(`#sec_4`).html(response);

                                section._4.visited = true;
                            },
                            error: function (response) {

                                $.ajax({
                                    url: `/ClientView/Section_4`,
                                    type: "GET",
                                    success: function (response) {
                                        $(`#sec_4`).html(response);

                                        section._4.visited = true;
                                    },
                                    error: function (response) {

                                        $.ajax({
                                            url: "/Home/AjaxErrorView",
                                            type: "GET",
                                            success: function (response) {
                                                $(`#sec_4`).html(response);

                                                section._4.visited = true;
                                            }
                                        });

                                    }
                                });

                            }
                        });
                    }
                }

                if ((windowBottomPosition + 700) > section._5.position) {

                    if (section._5.visited === false) {

                        $.ajax({
                            url: `/ClientView/Section_5`,
                            type: "GET",
                            success: function (response) {

                                $(`#sec_5`).html(response);

                                section._5.visited = true;
                            },
                            error: function (response) {

                                $.ajax({
                                    url: `/ClientView/Section_5`,
                                    type: "GET",
                                    success: function (response) {
                                        $(`#sec_5`).html(response);

                                        section._5.visited = true;
                                    },
                                    error: function (response) {

                                        $.ajax({
                                            url: "/Home/AjaxErrorView",
                                            type: "GET",
                                            success: function (response) {
                                                $(`#sec_5`).html(response);

                                                section._5.visited = true;
                                            }
                                        });

                                    }
                                });

                            }
                        });
                    }
                }

                if ((windowBottomPosition + 700) > section._6.position) {

                    if (section._6.visited === false) {

                        $.ajax({
                            url: `/ClientView/Section_6`,
                            type: "GET",
                            success: function (response) {

                                $(`#sec_6`).html(response);

                                section._6.visited = true;
                            },
                            error: function (response) {

                                $.ajax({
                                    url: `/ClientView/Section_6`,
                                    type: "GET",
                                    success: function (response) {
                                        $(`#sec_6`).html(response);

                                        section._6.visited = true;
                                    },
                                    error: function (response) {

                                        $.ajax({
                                            url: "/Home/AjaxErrorView",
                                            type: "GET",
                                            success: function (response) {
                                                $(`#sec_6`).html(response);

                                                section._6.visited = true;
                                            }
                                        });

                                    }
                                });

                            }
                        });
                    }
                }

                if ((windowBottomPosition + 700) > section._7.position) {

                    if (section._7.visited === false) {

                        $.ajax({
                            url: `/ClientView/Section_7`,
                            type: "GET",
                            success: function (response) {

                                $(`#sec_7`).html(response);

                                section._7.visited = true;
                            },
                            error: function (response) {

                                $.ajax({
                                    url: `/ClientView/Section_7`,
                                    type: "GET",
                                    success: function (response) {
                                        $(`#sec_7`).html(response);

                                        section._7.visited = true;
                                    },
                                    error: function (response) {

                                        $.ajax({
                                            url: "/Home/AjaxErrorView",
                                            type: "GET",
                                            success: function (response) {
                                                $(`#sec_7`).html(response);

                                                ++numberOfVisitedSection;
                                            }
                                        });

                                    }
                                });

                            }
                        });
                    }
                }

            });
        })();
    </script>
}