@model ClientProductVM
@{
    Layout = "_ClientLayout";
}

<div role="main" class="main shop py-4">
    <div class="container" style="padding: 0;">
        <div class="row">
            <div class="col-lg-3">
                <aside class="sidebar">
                    @*<form action="page-search-results.html" method="get">
                        <div class="input-group mb-3 pb-1">
                            <input class="form-control text-1" placeholder="Search..." name="s" id="s" type="text">
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-dark text-1 p-2"><i class="fas fa-search m-2"></i></button>
                            </span>
                        </div>
                    </form>*@
                    <h5 class="font-weight-bold pt-3">Categories</h5>
                    <ul class="nav nav-list flex-column">
                        @foreach (var item in Model.ProductCategories)
                        {
                            <li class="nav-item"><a class="nav-link" href="/ClientView/CategoryWiseProduct/@item.Id">@item.Name</a></li>
                        }
                    </ul>
                    <div class="row mb-5">
                        <div class="col">
                            <h5 class="font-weight-bold pt-5">Popular Products</h5>
                            <ul class="simple-post-list">
                                @if (Model.PopularProducts.Count() > 0)
                                {
                                    foreach (var item in Model.PopularProducts)
                                    {
                                        <li>
                                            <div class="post-image">
                                                <div class="d-block">
                                                    <a href="shop-product-sidebar-left.html">
                                                        <img alt="" width="60" height="60" class="img-fluid" src="@item.Image">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-info">
                                                <a href="shop-product-sidebar-left.html">@item.Name</a>
                                                <div class="post-meta text-dark font-weight-semibold">
                                                    @item.PurchasePrice
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12">
                        <div class="owl-carousel owl-theme owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 1, 'margin': 10}" style="height: auto;">
                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(-1100px, 0px, 0px); transition: all 0s ease 0s; width: 3850px;">
                                    <div class="owl-item cloned" style="width: 540px; margin-right: 10px;">
                                        <div>
                                            <img alt="" height="300" class="img-fluid" src="@Model.Product.Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="summary entry-summary">

                            <h1 class="mb-0 font-weight-bold text-7">@Model.Product.Name</h1>

                            <div class="pb-0 clearfix">
                                <div title="Rated 3 out of 5" class="float-left">
                                    <div class="rating-container theme-krajee-fas rating-xs rating-animate is-display-only rating-primary">
                                        <div class="rating-stars" title="Three Stars">
                                            <span class="empty-stars">
                                                <span class="star">
                                                    <i class="far fa-star"></i>
                                                </span>
                                                <span class="star">
                                                    <i class="far fa-star"></i>
                                                </span>
                                                <span class="star">
                                                    <i class="far fa-star"></i>
                                                </span>
                                                <span class="star">
                                                    <i class="far fa-star"></i>
                                                </span>
                                                <span class="star">
                                                    <i class="far fa-star"></i>
                                                </span>
                                            </span>
                                            <span class="filled-stars" style="width: 60%;">
                                                <span class="star">
                                                    <i class="fas fa-star"></i>
                                                </span>
                                                <span class="star">
                                                    <i class="fas fa-star"></i>
                                                </span>
                                                <span class="star">
                                                    <i class="fas fa-star"></i>
                                                </span>
                                                <span class="star">
                                                    <i class="fas fa-star"></i>
                                                </span><span class="star">
                                                    <i class="fas fa-star"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="d-none rating-input" value="3" title="" data-plugin-star-rating="" data-plugin-options="{'displayOnly': true, 'color': 'primary', 'size':'xs'}">
                                        </div>
                                    </div>
                                </div>

                                <div class="review-num">
                                    <span class="count" itemprop="ratingCount">2</span> reviews
                                </div>
                            </div>

                            <p class="price">
                                <span class="amount">@Model.Product.PurchasePrice</span>
                            </p>

                            <p class="mb-5">@Model.Product.ShortDescription</p>

                            <div class="product-meta">
                                <span class="posted-in">Categories: <a rel="tag" href="/ClientView/CategoryWiseProduct/@Model.Product.ProductCategoryId">@Model.Product.ProductCategory.Name</a></span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="tabs tabs-product mb-2">
                            <ul class="nav nav-tabs">
                                <li class="nav-item active"><a class="nav-link py-3 px-4" href="#productDescription" data-toggle="tab">Description</a></li>
                                <li class="nav-item"><a class="nav-link py-3 px-4" href="#productInfo" data-toggle="tab">Additional Information</a></li>
                                <li class="nav-item"><a class="nav-link py-3 px-4" href="#productReviews" data-toggle="tab">Reviews (2)</a></li>
                            </ul>
                            <div class="tab-content p-0">
                                <div class="tab-pane p-4 active" id="productDescription">
                                    @Html.Raw(Model.Product.Description)
                                </div>
                                <div class="tab-pane p-4" id="productInfo">
                                    <table class="table m-0">
                                        <tbody>
                                            <tr>
                                                <th class="border-top-0">
                                                    Size:
                                                </th>
                                                <td class="border-top-0">
                                                    Unique
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Colors
                                                </th>
                                                <td>
                                                    Red, Blue
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Material
                                                </th>
                                                <td>
                                                    100% Leather
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane p-4" id="productReviews">
                                    <ul class="comments">
                                        <li>
                                            <div class="comment">
                                                <div class="img-thumbnail border-0 p-0 d-none d-md-block">
                                                    <img class="avatar" alt="" src="~/porto_7.4.0/img/avatars/avatar-2.jpg">
                                                </div>
                                                <div class="comment-block">
                                                    <div class="comment-arrow"></div>
                                                    <span class="comment-by">
                                                        <strong>Jack Doe</strong>
                                                    </span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="comment">
                                                <div class="img-thumbnail border-0 p-0 d-none d-md-block">
                                                    <img class="avatar" alt="" src="~/porto_7.4.0/img/avatars/avatar-2.jpg">
                                                </div>
                                                <div class="comment-block">
                                                    <div class="comment-arrow"></div>
                                                    <span class="comment-by">
                                                        <strong>John Doe</strong>
                                                    </span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra odio, gravida urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <hr class="solid my-5">
                                    <h4>Add a review</h4>
                                    <div class="row">
                                        <div class="col">
                                            <form action="" id="submitReview" method="post">                                                
                                                <div class="form-row">
                                                    <div class="form-group col-lg-6">
                                                        <label class="required font-weight-bold text-dark">Name</label>
                                                        <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required="">
                                                    </div>
                                                    <div class="form-group col-lg-6">
                                                        <label class="required font-weight-bold text-dark">Email Address</label>
                                                        <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required="">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col">
                                                        <label class="required font-weight-bold text-dark">Review</label>
                                                        <textarea maxlength="5000" data-msg-required="Please enter your review." rows="8" class="form-control" name="review" id="review" required=""></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col mb-0">
                                                        <input type="submit" value="Post Review" class="btn btn-primary btn-modern" data-loading-text="Loading...">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="solid my-5">

                <h4 class="mb-3">Related <strong>Products</strong></h4>
                <div class="masonry-loader masonry-loader-loaded">
                    <div class="row products product-thumb-info-list mt-3" data-plugin-masonry="" data-plugin-options="{'layoutMode': 'fitRows'}" style="position: relative; height: 238.5px;">
                        @foreach (var item in Model.Products)
                        {
                            <div class="col-12 col-sm-6 col-lg-3 product" style="position: absolute; left: 0px; top: 0px;">
                                <span class="product-thumb-info border-0">
                                    <a href="shop-cart.html" class="add-to-cart-product bg-color-primary">
                                        <span class="text-uppercase text-1">See Details</span>
                                    </a>
                                    <a href="shop-product-sidebar-left.html">
                                        <span class="product-thumb-info-image">
                                            <img alt="" class="img-fluid" src="@item.Image">
                                        </span>
                                    </a>
                                    <span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
                                        <a href="shop-product-sidebar-left.html">
                                            <h4 class="text-4 text-primary">@item.Name</h4>
                                            <span class="price">
                                                <del><span class="amount">@item.RetailPrice</span></del>
                                                <ins><span class="amount text-dark font-weight-semibold">@item.PurchasePrice</span></ins>
                                            </span>
                                        </a>
                                    </span>
                                </span>
                            </div>
                        }
                    </div>
                    <div class="bounce-loader"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                </div>

            </div>
            <div class="col-lg-3">
                <aside class="sidebar">
                    <h5 class="font-weight-bold">Contact <strong>Us</strong></h5>
                    <p>Contact us or give us a call to discover how we can help.</p>
                    <form id="contactForm" class="contact-form" action="php/contact-form.php" method="POST">
                        <div class="contact-form-success alert alert-success d-none mt-4" id="contactSuccess">
                            <strong>Success!</strong> Your message has been sent to us.
                        </div>
                        <div class="contact-form-error alert alert-danger d-none mt-4" id="contactError">
                            <strong>Error!</strong> There was an error sending your message.
                            <span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="required font-weight-bold text-dark text-1 mb-0">Full Name</label>
                                <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="required font-weight-bold text-dark text-1 mb-0">Email Address</label>
                                <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="required font-weight-bold text-dark text-1 mb-0">Message</label>
                                <textarea maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" name="message" id="message" required=""></textarea>
                            </div>
                        </div>
                        <div class="form-row mb-3 pb-1">
                            <div class="form-group col">
                                <input type="submit" value="Send Message" class="btn btn-primary btn-modern" data-loading-text="Loading...">
                            </div>
                        </div>
                    </form>
                    <h5 class="font-weight-bold pt-4">Our <strong>Office</strong></h5>
                    <ul class="list list-icons list-icons-style-2 mt-2">
                        <li><i class="fas fa-map-marker-alt top-6"></i> <strong class="text-dark">Address:</strong> @Model.Company.Address</li>
                        <li><i class="fas fa-phone top-6"></i> <strong class="text-dark">Phone:</strong> @Model.Company.Phone</li>
                        <li><i class="fas fa-envelope top-6"></i> <strong class="text-dark">Email:</strong> <a href="mailto:@Model.Company.Email">@Model.Company.Email</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>

</div>





































































































@*<div role="main" class="main">

        <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md ">
            <div class="container-fluid">
                <div class="row align-items-center">

                    <div class="col">
                        <a href="#" class="portfolio-prev text-decoration-none d-block appear-animation animated appear-animation-visible" data-appear-animation="fadeInRightShorter">
                            <div class="d-flex align-items-center line-height-1">
                                <i class="fas fa-arrow-left text-dark text-4 mr-3"></i>
                                <div class="d-none d-sm-block line-height-1">
                                    <span class="text-dark opacity-4 text-1">PREVIOUS PROJECT</span>
                                    <h4 class="font-weight-bold text-3 mb-0">Okler Website Design</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-md-12 align-self-center p-static order-2 text-center">
                                <div class="overflow-hidden pb-2">
                                    <h1 class="text-dark font-weight-bold text-9 appear-animation animated appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="100">@Model.Product.Name</h1>
                                </div>
                            </div>
                            <div class="col-md-12 align-self-center order-1">
                                <ul class="breadcrumb d-block text-center appear-animation animated appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="300">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Products</a></li>
                                    <li class="active">@Model.Product.Name</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <a href="#" class="portfolio-next text-decoration-none d-block float-right appear-animation animated appear-animation-visible" data-appear-animation="fadeInLeftShorter">
                            <div class="d-flex align-items-center text-right line-height-1">
                                <div class="d-none d-sm-block line-height-1">
                                    <span class="text-dark opacity-4 text-1">NEXT PROJECT</span>
                                    <h4 class="font-weight-bold text-3 mb-0">Porto Admin Dev</h4>
                                </div>
                                <i class="fas fa-arrow-right text-dark text-4 ml-3"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <div class="container py-4">

            <div class="row">
                <div class="col appear-animation animated appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">

                    <div class="owl-carousel owl-theme nav-inside nav-inside-edge nav-squared nav-with-transparency nav-dark nav-lg d-block overflow-hidden owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 1, 'margin': 10, 'loop': false, 'nav': true, 'dots': false, 'autoHeight': true}" style="height: auto;">

                        <div class="owl-stage-outer owl-height" style="max-height: 512.297px;">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3360px;">
                                <div class="owl-item" style="width: 1110px; margin-right: 10px;">
                                    <div>
                                        <div class="img-thumbnail border-0 border-radius-0 p-0 d-block">
                                            <img src="@Model.Product.Image" class="img-fluid border-radius-0" alt="" style="height: 512.297px; object-fit: contain;">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 1110px; margin-right: 10px;">
                                    <div>
                                        <div class="img-thumbnail border-0 border-radius-0 p-0 d-block">
                                            <img src="@Model.Product.Image" class="img-fluid border-radius-0" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"></button><button type="button" role="presentation" class="owl-next"></button></div><div class="owl-dots disabled"></div>
                    </div>

                </div>
            </div>
            <div class="row pt-4 mt-2 mb-5">
                <div class="col-md-7 mb-4 mb-md-0">

                    <h2 class="text-color-dark font-weight-normal text-5 mb-2">Project <strong class="font-weight-extra-bold">Description</strong></h2>

                    <p class="text-justify">@Html.Raw(Model.Product.Description)</p>
                    <hr class="solid my-5">

                    <strong class="text-uppercase text-1 mr-3 text-dark float-left position-relative top-2">Share</strong>
                    <ul class="social-icons">
                        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>

                </div>
                <div class="col-md-5">
                    <h2 class="text-color-dark font-weight-normal text-5 mb-2">Project <strong class="font-weight-extra-bold">Details</strong></h2>
                    <ul class="list list-icons list-primary list-borders text-2">
                        <li>
                            <i class="fas fa-caret-right left-10"></i>
                            <strong class="text-color-primary">Clients: </strong>
                            @foreach (var item in Model.ClientProjects)
                            {
                                <span>@item.Client.Name, </span>
                            }
                        </li>

                        <li>
                            <i class="fas fa-caret-right left-10"></i>
                            <strong class="text-color-primary">Realise Date: </strong>
                            <span>@Model.Product.ReleaseDate.ToString("dd-MMM-yyyy")</span>
                        </li>
                        <li>
                            <i class="fas fa-caret-right left-10"></i>
                            <strong class="text-color-primary">Skills:</strong> <a href="#" class="badge badge-dark badge-sm badge-pill px-2 py-1 ml-1">DESIGN</a><a href="#" class="badge badge-dark badge-sm badge-pill px-2 py-1 ml-1">BRAND</a><a href="#" class="badge badge-dark badge-sm badge-pill px-2 py-1 ml-1">WEBSITES</a>
                        </li>
                        <li>
                            <i class="fas fa-caret-right left-10"></i>
                            <strong class="text-color-primary">Project URL:</strong> <a href="http://www.margcompusoft.com" target="_blank" class="text-dark">www.margcompusoft.com</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <section class="section section-height-3 bg-color-grey m-0 border-0">
        <div class="container py-4">
            <h4 class="mb-3 text-4 text-uppercase"></h4>
            <div class="row">
                @foreach (var item in Model.Products)
                {
                    <div class="col-12 col-sm-6 col-lg-3 mb-4">
                        <div class="portfolio-item">
                            <a href="/ClientView/Product/@item.Id">
                                <span class="thumb-info thumb-info-lighten thumb-info-no-borders border-radius-0">
                                    <span class="thumb-info-wrapper border-radius-0">
                                        <img src="@item.Image" class="img-fluid border-radius-0" alt="" style="height: 260.297px; object-fit: contain;">
                                        <span class="thumb-info-title">
                                            <span class="thumb-info-inner">Presentation</span>
                                            <span class="thumb-info-type">Brand</span>
                                        </span>
                                        <span class="thumb-info-action">
                                            <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>*@
