@model OurTeamVM

<div role="main" class="main">

    <section class="page-header page-header-modern page-header-background page-header-background-pattern page-header-background-sm overlay overlay-color-dark overlay-show overlay-op-5" style="background-image: url(img/patterns/wild_oliva.png);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1>Meet Our <strong>Team</strong></h1>
                </div>
                <div class="col-md-12 align-self-center order-1">
                    <ul class="breadcrumb breadcrumb-light d-block text-center">
                        <li><a href="#">Home</a></li>
                        <li class="active">Team View </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-4">
        <ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="team" data-option-key="filter">
            <li class="nav-item active" data-option-value="*"><a class="nav-link text-1 text-uppercase active" href="#">Show All</a></li>
            <li class="nav-item" data-option-value=".leadership"><a class="nav-link text-1 text-uppercase" href="">Department</a></li>
            <li class="nav-item" data-option-value=".marketing"><a class="nav-link text-1 text-uppercase" href="#">Marketing</a></li>
            <li class="nav-item" data-option-value=".development"><a class="nav-link text-1 text-uppercase" href="#">Development</a></li>
            <li class="nav-item" data-option-value=".design"><a class="nav-link text-1 text-uppercase" href="#">Design</a></li>
        </ul>
        <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
            <div class="row team-list sort-destination" data-sort-id="team">
                @foreach (var item in Model.Teams)
                {
                    <div  class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
                        <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
                            <span class="thumb-info-wrapper">
                                <a href="/ClientView/TeamViewDetails/@item.Id">
                                    <img style="height:250px;width:250px;"  src="@item.Image" class="img-fluid" alt="">
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner">@item.Name</span>
                                        <span class="thumb-info-inner">@item.Department.Name</span>
                                        <span class="thumb-info-type"><strong>@item.Designation.Name</strong></span>

                                    </span>
                                </a>
                            </span>
                            <span class="thumb-info-caption">
                                <h4 class="thumb-info-caption-text"><strong><a href="/ClientView/TeamViewDetails/@item.Id"> View More . . . . .</a></strong></h4>
                                <span class="thumb-info-social-icons mb-4">
                                    <a target="_blank" href="@item.Facebook"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                                    <a href="@item.Twitter"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
                                    <a href="@item.LinkedIn" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
                                </span>
                            </span>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>

</div>
